<a href="https://colab.research.google.com/github/longnguyen08/DA_Projects/blob/master/Cryptocurrency_Market_Analysis/CoinList_Clean_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cp1 = pd.read_csv('/content/CoinPrices_CleanFinal.csv')

In [ ]:
cp1.head(4)

,Date,Open,High,Low,Close,Volume,MarketCap,CoinName
0,2018-08-14,6287.66,6287.94,5971.05,6199.71,5301700000,108199097492,BTC
1,2018-08-13,6341.36,6537.05,6225.72,6297.57,4083980000,109111523954,BTC
2,2018-08-12,6283.65,6409.85,6237.50,6322.69,5665250000,108106451582,BTC
3,2018-08-11,6185.79,6455.74,6109.03,6295.73,4047850000,106409456302,BTC

In [ ]:
cp1['Date']= pd.to_datetime(cp1['Date'])

In [ ]:
cp1['DateDiff']=cp1.groupby('CoinName')['Date'].transform(lambda x: (x.max() - x.min()).days)

In [ ]:
cp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825966 entries, 0 to 825965
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       825966 non-null  datetime64[ns]
 1   Open       825966 non-null  float64
 2   High       825966 non-null  float64
 3   Low        825966 non-null  float64
 4   Close      825966 non-null  float64
 5   Volume     825966 non-null  int64
 6   MarketCap  825966 non-null  int64
 7   CoinName   825966 non-null  object
 8   DateDiff   825966 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(1)
memory usage: 56.7+ MB

In [ ]:
cp1.head(5)

,Date,Open,High,Low,Close,Volume,MarketCap,CoinName,DateDiff
0,2018-08-14,6287.66,6287.94,5971.05,6199.71,5301700000,108199097492,BTC,1934
1,2018-08-13,6341.36,6537.05,6225.72,6297.57,4083980000,109111523954,BTC,1934
2,2018-08-12,6283.65,6409.85,6237.50,6322.69,5665250000,108106451582,BTC,1934
3,2018-08-11,6185.79,6455.74,6109.03,6295.73,4047850000,106409456302,BTC,1934
4,2018-08-10,6571.42,6591.26,6124.52,6184.71,4528680000,113028788092,BTC,1934

In [ ]:
cp1.sample(5)

,Date,Open,High,Low,Close,Volume,MarketCap,CoinName,DateDiff
792735,2017-10-16,0.000155,0.000156,0.000056,0.000116,58,0,ACES,725
573472,2017-02-15,0.004742,0.004749,0.003578,0.004630,14,0,AIB,1202
242287,2016-05-23,0.000095,0.000106,0.000093,0.000097,295,125543,XMY,1620
13818,2017-03-08,45.550000,45.600000,42.150000,42.330000,7640390,325712000,DASH,1642
536637,2017-10-20,16.910000,18.050000,16.230000,16.940000,175,149106,BITSILVER,1266

In [ ]:
cp1_onlyDateDiff = cp1.iloc[:,7:9]

In [ ]:
cp1_onlyDateDiff = cp1_onlyDateDiff.drop_duplicates(subset=['CoinName'])

In [ ]:
cp1_onlyDateDiff.head(3)

     CoinName  DateDiff
0         BTC      1934
1935      ETH      1103
3039      XRP      1836

In [ ]:
cl1 = pd.read_csv('/content/CoinList_CleanFinal.csv')

In [ ]:
cl1

,Name,MarketCap,Price,Circulating_Supply,Volume24h,X_1h,X_24h,X_7d
0,BTC,108535652690,6305.82,1.721198e+07,4862506303,0.23,1.15,-0.58
1,ETH,28700537068,283.18,1.013501e+08,1834058037,0.34,0.32,-21.46
2,XRP,11154318415,0.283303,3.937240e+10,323281519,0.69,0.13,-16.83
3,BCH,8936018598,516.68,1.729491e+07,369691847,0.89,0.01,-12.56
4,EOS,4203946968,4.64,9.062451e+08,665409721,0.16,-1.43,-17.92
...,...,...,...,...,...,...,...,...
1785,PWR,0,0.000002,0.000000e+00,0,0.00,0.00,0.00
1786,BIG,0,0.982123,0.000000e+00,0,0.00,0.00,0.00
1787,CET,0,0,0.000000e+00,0,0.00,0.00,0.00
1788,CHEX,0,0,0.000000e+00,0,0.00,0.00,0.00
1789,LFT,0,0.102842,0.000000e+00,0,0.00,0.00,0.00

In [ ]:
cp1_onlyDateDiff = cp1_onlyDateDiff.rename(columns={'CoinName':'Name'})

In [ ]:
cp1_onlyDateDiff.head(3)

     Name  DateDiff
0     BTC      1934
1935  ETH      1103
3039  XRP      1836

In [ ]:
cl1_add_DateDiff = pd.merge(cp1_onlyDateDiff,cl1, how = 'outer', on = 'Name')

In [ ]:
cl1_add_DateDiff['DateDiff'] = cl1_add_DateDiff['DateDiff'].fillna(0)

In [ ]:
cl1_add_DateDiff['DateDiff'] = cl1_add_DateDiff['DateDiff'].astype(int)

In [ ]:
cl1_add_DateDiff

,Name,DateDiff,MarketCap,Price,Circulating_Supply,Volume24h,X_1h,X_24h,X_7d
0,BTC,1934,108535652690,6305.82,1.721198e+07,4862506303,0.23,1.15,-0.58
1,ETH,1103,28700537068,283.18,1.013501e+08,1834058037,0.34,0.32,-21.46
2,XRP,1836,11154318415,0.283303,3.937240e+10,323281519,0.69,0.13,-16.83
3,BCH,387,8936018598,516.68,1.729491e+07,369691847,0.89,0.01,-12.56
4,EOS,409,4203946968,4.64,9.062451e+08,665409721,0.16,-1.43,-17.92
...,...,...,...,...,...,...,...,...,...
1785,BIG,205,0,0.982123,0.000000e+00,0,0.00,0.00,0.00
1786,LFT,3,0,0.102842,0.000000e+00,0,0.00,0.00,0.00
1787,CEN,0,0,0,0.000000e+00,0,0.00,0.00,0.00
1788,CET,0,0,0,0.000000e+00,0,0.00,0.00,0.00
1789,CHEX,0,0,0,0.000000e+00,0,0.00,0.00,0.00

In [ ]:
cl1_add_DateDiff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1790 entries, 0 to 1789
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                1790 non-null   object
 1   DateDiff            1790 non-null   int64
 2   MarketCap           1790 non-null   int64
 3   Price               1790 non-null   object
 4   Circulating_Supply  1790 non-null   float64
 5   Volume24h           1790 non-null   int64
 6   X_1h                1790 non-null   float64
 7   X_24h               1790 non-null   float64
 8   X_7d                1790 non-null   float64
dtypes: float64(4), int64(3), object(2)
memory usage: 139.8+ KB

In [ ]:
cl1_add_DateDiff.to_csv('New_CoinList_Clean.csv',index = False)

In [ ]:
cl2= pd.read_csv('/content/New_CoinList_Clean.csv')

In [ ]:
def Check(x):
    if x['DateDiff'] < 90 and x['Volume24h'] == 0:
        val = 'Scam'
    else:
        val = 'Legit'
    return val

In [ ]:
cl2['Check'] = cl2.apply(Check, axis=1)

In [ ]:
cl2.groupby('Check').agg(Coin=('Name','nunique')).reset_index()