<a href="https://colab.research.google.com/github/longnguyen08/DA_Projects/blob/master/Cryptocurrency_Market_Analysis/CoinList_Clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cl = pd.read_csv('/content/CoinList.csv')

In [ ]:
cl.head(5)

,Unnamed: 0,X.,Name,Symbol,Market.Cap,Price,Circulating.Supply,Volume..24h.,X..1h,X..24h,X..7d,Var.11,url
0,1,1,BTC\nBitcoin,BTC,"$108,535,652,690",$6305.82,"17,211,975","$4,862,506,303",0.23%,1.15%,-0.58%,Add to Watchlist\nRemove from Watchlist\nWatch...,https://coinmarketcap.com/currencies/bitcoin/h...
1,2,2,ETH\nEthereum,ETH,"$28,700,537,068",$283.18,"101,350,111","$1,834,058,037",0.34%,0.32%,-21.46%,Add to Watchlist\nRemove from Watchlist\nWatch...,https://coinmarketcap.com/currencies/ethereum/...
2,3,3,XRP\nXRP,XRP,"$11,154,318,415",$0.283303,"39,372,399,467\n*","$323,281,519",0.69%,0.13%,-16.83%,Add to Watchlist\nRemove from Watchlist\nWatch...,https://coinmarketcap.com/currencies/ripple/hi...
3,4,4,BCH\nBitcoin Cash,BCH,"$8,936,018,598",$516.68,"17,294,913","$369,691,847",0.89%,0.01%,-12.56%,Add to Watchlist\nRemove from Watchlist\nWatch...,https://coinmarketcap.com/currencies/bitcoin-c...
4,5,5,EOS\nEOS,EOS,"$4,203,946,968",$4.64,"906,245,118\n*","$665,409,721",0.16%,-1.43%,-17.92%,Add to Watchlist\nRemove from Watchlist\nWatch...,https://coinmarketcap.com/currencies/eos/histo...

In [ ]:
cl1 = cl.iloc[:,3:11]

In [ ]:
cl1.head(4)

,Symbol,Market.Cap,Price,Circulating.Supply,Volume..24h.,X..1h,X..24h,X..7d
0,BTC,"$108,535,652,690",$6305.82,"17,211,975","$4,862,506,303",0.23%,1.15%,-0.58%
1,ETH,"$28,700,537,068",$283.18,"101,350,111","$1,834,058,037",0.34%,0.32%,-21.46%
2,XRP,"$11,154,318,415",$0.283303,"39,372,399,467\n*","$323,281,519",0.69%,0.13%,-16.83%
3,BCH,"$8,936,018,598",$516.68,"17,294,913","$369,691,847",0.89%,0.01%,-12.56%

In [ ]:
cl1 = cl1.rename(columns={'Symbol' : 'Name', 'Market.Cap': 'MarketCap', 'Circulating.Supply': 'Circulating_Supply', 'Volume..24h.' : 'Volume24h', 'X..1h':'X_1h','X..24h':'X_24h','X..7d':'X_7d'})

In [ ]:
cl1.head(4)

,Name,MarketCap,Price,Circulating_Supply,Volume24h,X_1h,X_24h,X_7d
0,BTC,"$108,535,652,690",$6305.82,"17,211,975","$4,862,506,303",0.23%,1.15%,-0.58%
1,ETH,"$28,700,537,068",$283.18,"101,350,111","$1,834,058,037",0.34%,0.32%,-21.46%
2,XRP,"$11,154,318,415",$0.283303,"39,372,399,467\n*","$323,281,519",0.69%,0.13%,-16.83%
3,BCH,"$8,936,018,598",$516.68,"17,294,913","$369,691,847",0.89%,0.01%,-12.56%

In [ ]:
cl1.isnull().sum()

Name                  0
MarketCap             0
Price                 0
Circulating_Supply    0
Volume24h             0
X_1h                  0
X_24h                 0
X_7d                  0
dtype: int64

In [ ]:
cl1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1843 entries, 0 to 1842
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                1843 non-null   object
 1   MarketCap           1843 non-null   object
 2   Price               1843 non-null   object
 3   Circulating_Supply  1843 non-null   object
 4   Volume24h           1843 non-null   object
 5   X_1h                1843 non-null   object
 6   X_24h               1843 non-null   object
 7   X_7d                1843 non-null   object
dtypes: object(8)
memory usage: 115.3+ KB

In [ ]:
cl1 = cl1.drop_duplicates(subset=['Name'])

In [ ]:
cl1['MarketCap'] = cl1['MarketCap'].transform(lambda x: x.replace('$',''))
cl1['MarketCap'] = cl1['MarketCap'].transform(lambda x: x.replace(',',''))
cl1['MarketCap'] = cl1['MarketCap'].transform(lambda x: x.replace('?','0'))
cl1['MarketCap'] = cl1['MarketCap'].astype(int)

In [ ]:
cl1['Price'] = cl1['Price'].transform(lambda x: x.replace('?','0'))
cl1['Price'] = cl1['Price'].transform(lambda x: x.replace('$',''))

In [ ]:
cl1.sample(5)

,Name,MarketCap,Price,Circulating_Supply,Volume24h,X_1h,X_24h,X_7d
429,DYN,6312914,1.24,"5,084,999\n*","$56,260",0.36%,0.53%,-0.35%
1184,BITS,224504,0.011459,"19,591,943\n*",Low Vol,0.36%,2.41%,-19.07%
545,TNC,3689545,0.011069,"333,333,333\n*","$123,099",-0.93%,2.14%,-33.29%
739,MONK,1469929,0.775479,"1,895,510","$6,353",0.36%,9.59%,-21.09%
808,TKA,1024446,0.024313,"42,135,421\n*","$458,910",-1.41%,-0.67%,-5.74%

In [ ]:
cl1['Circulating_Supply'] = cl1['Circulating_Supply'].transform(lambda x: x.replace('?','0'))
cl1['Circulating_Supply'] = cl1['Circulating_Supply'].transform(lambda x: x.replace('\n*',''))
cl1['Circulating_Supply'] = cl1['Circulating_Supply'].transform(lambda x: x.replace('\n *',''))
cl1['Circulating_Supply'] = cl1['Circulating_Supply'].transform(lambda x: x.replace(',',''))

In [ ]:
cl1['Volume24h'] = cl1['Volume24h'].transform(lambda x: x.replace('$',''))
cl1['Volume24h'] = cl1['Volume24h'].transform(lambda x: x.replace(',',''))
cl1['Volume24h'] = cl1['Volume24h'].transform(lambda x: x.replace('Low Vol','0'))
cl1['Volume24h'] = cl1['Volume24h'].transform(lambda x: x.replace('?','0'))
cl1['Volume24h'] = cl1['Volume24h'].astype(int)

In [ ]:
cl1.sample(5)

,Name,MarketCap,Price,Circulating_Supply,Volume24h,X_1h,X_24h,X_7d
652,PTC,2307482,0.017064,135226954,11928,-0.22%,-1.90%,0.29%
1545,FORK,0,0.627920,0,132675,0.14%,-0.45%,?
1364,CAT,34969,0.005289,6612000,0,0.36%,-7.52%,-23.95%
372,PHR,7638242,0.538257,14190685,646089,-1.42%,22.15%,-9.69%
803,ZOI,1071586,0.058958,18175487,5413,0.36%,3.15%,6.70%

In [ ]:
cl1['X_1h'] = cl1['X_1h'].transform(lambda x: x.replace('Low Vol','0.00'))
cl1['X_1h'] = cl1['X_1h'].transform(lambda x: x.replace('?','0.00'))
cl1['X_1h'] = cl1['X_1h'].transform(lambda x: x.replace('%',''))
cl1['X_1h'] = cl1['X_1h'].astype(float)

In [ ]:
cl1['X_24h'] = cl1['X_24h'].transform(lambda x: x.replace('Low Vol','0.00'))
cl1['X_24h'] = cl1['X_24h'].transform(lambda x: x.replace('?','0.00'))
cl1['X_24h'] = cl1['X_24h'].transform(lambda x: x.replace('%',''))
cl1['X_24h'] = cl1['X_24h'].astype(float)

In [ ]:
cl1['X_7d'] = cl1['X_7d'].transform(lambda x: x.replace('Low Vol','0.00'))
cl1['X_7d'] = cl1['X_7d'].transform(lambda x: x.replace('?','0.00'))
cl1['X_7d'] = cl1['X_7d'].transform(lambda x: x.replace('%',''))
cl1['X_7d'] = cl1['X_7d'].astype(float)

In [ ]:
cl1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1790 entries, 0 to 1842
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                1790 non-null   object
 1   MarketCap           1790 non-null   int64
 2   Price               1790 non-null   object
 3   Circulating_Supply  1790 non-null   object
 4   Volume24h           1790 non-null   int64
 5   X_1h                1790 non-null   float64
 6   X_24h               1790 non-null   float64
 7   X_7d                1790 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 125.9+ KB

In [ ]:
cl1.to_csv('CoinList_Clean.csv',index = False)